.full-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .full-page-section {
    width: 100%;
    margin-bottom: 20px; /* Add space between components */
  }
  
  /* You can add more general styling here if needed */