* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}
/* Styles par défaut (Light Mode) */
body[data-theme="light"] {
  background-color: white;
  color: black;
}

/* Dark Mode */
body[data-theme="dark"] {
  background-color: #121212;
  color: white;
}
